// Screen sizes
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;

// Colors
$textColor: #707070;
$primaryColor: #044dc3;
$secondaryColor: #51b549;
$warningColor: #f54257;
