@import "../../sass/variables";
@import "../../sass/mixins";

.category {
  margin-top: 10px !important;
  position: relative;
}

.category-logo {
  color: $primaryColor;
  font-size: 24px;
  display: flex;
  align-items: center;
  column-gap: 3px;
  pointer-events: none;
  width: fit-content;

  & > img {
    width: 17px;
    height: 16px;
  }

  @include mdMaxBreakPoint {
    font-size: 18px;

    & > img {
      width: 15px;
      height: 15px;
    }
  }

  @include smMaxBreakPoint {
    font-size: 16px;
    pointer-events: auto;
    cursor: pointer;

    & > img {
      width: 13px;
      height: 13px;
    }
  }
}

.category-section {
  margin-top: 10px !important;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  & > button {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e2e7e9;
    border-radius: 10px;
    font-size: 14px;
    width: 150px;
    height: 40px;
    color: $textColor;
    &:hover {
      cursor: pointer;
      filter: brightness(90%);
    }
  }

  & > button.selected {
    border: none;
    background: #044dc3 0% 0% no-repeat padding-box;
    color: #fff;
  }

  @include smMaxBreakPoint {
    display: none;
  }

  @include mdMaxBreakPoint {
    column-gap: 5px;
    & > button {
      width: 120px;
      height: 30px;
    }
  }
}

.category-section-sm {
  display: none;
  position: absolute;
  z-index: 1;
  width: 129px;
  height: 250px;
  overflow-y: auto;
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border: 2px solid #edf1f2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #d8d8d8;
    border-radius: 10px;
  }

  @include smMaxBreakPoint {
    display: block;
    top: 25px;
    & > button {
      display: block;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: none;
      width: 120px;
      height: 30px;
      text-align: center;
      font-size: 12px;
      &:hover {
        cursor: pointer;
        filter: brightness(90%);
      }
    }

    & > button.selected {
      border: none;
      background: #044dc3 0% 0% no-repeat padding-box;
      color: #fff;
      border-radius: 5pxß;
    }
  }
}
