@import "../../sass//mixins";

.search-input-container {
  display: block;
  width: 100%;
  position: relative;
  grid-area: input;

  & > img {
    position: absolute;
    left: 15px;
    top: 12px;
    width: 15px;
    height: 15px;
  }

  @include mdMaxBreakPoint {
    & > img {
      left: 11px;
      top: 10px;
    }
  }
}

.search-input {
  background: #f7f7f7 0% 0% no-repeat padding-box;
  border: 2px solid #edf1f2;
  border-radius: 28px;
  outline: 0;
  padding: 10px 65px 10px 35px;
  width: 100%;
  @include mdMaxBreakPoint {
    padding: 8px 65px 8px 32px;
  }
}

.search-button {
  background: #51b549 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 28px;
  color: #fff;
  width: 55px;
  height: 30px;
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 5px;
  &:hover {
    cursor: pointer;
    filter: brightness(75%);
  }

  @include mdMaxBreakPoint {
    width: 50px;
    height: 27px;
  }
}
