@import "../../sass//mixins";
@import "../../sass//variables";

.navbar {
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 2fr 9fr 1fr;
  grid-template-areas: "logo input sepet";
  grid-gap: 10px;
  align-items: end;
  align-content: center;
  height: 90px;
  background: #ffffff 0% 0% no-repeat padding-box;
  column-gap: 30px;
  & > img {
    width: 163px;
    height: 32px;
    grid-area: logo;
  }

  @include smMaxBreakPoint {
    grid-template-rows: 40px 40px;
    grid-template-columns: 11fr 1fr;
    grid-template-areas: "logo sepet" "input input";
    align-items: end;
    align-content: baseline;
    & > img {
      width: 115px;
      height: 25px;
    }
  }

  @include mdMaxBreakPoint {
    & > img {
      width: 130px;
      height: 32px;
    }
  }
}

.header {
  height: 74px;
  margin-top: 10px !important;
  display: flex;
  align-items: center;
  & > div {
    background: transparent;
    font-size: 35px;
    color: #fff;
  }

  @include smMaxBreakPoint {
    height: 40px;
    & > div {
      font-size: 18px;
    }
  }

  @include mdMaxBreakPoint {
    height: 50px;
    margin-top: 5px !important;

    & > div {
      font-size: 20px;
    }
  }
}

.breadcrumb {
  margin-top: 5px !important;
  color: $textColor;
  display: flex;
  column-gap: 5px;
  & > span:last-child {
    color: $secondaryColor;
  }

  @include smMaxBreakPoint {
    font-size: 9px;
  }

  @include mdMaxBreakPoint {
    font-size: 12px;
  }
}
